@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    width: 32px;
    /* height: 24px; */
}

.img-btc {
    height: 24px;
    aspect-ratio: '';
 }

.fs-22 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #616161;
    margin-top: 1.1rem;
    margin-bottom: 0.6rem;
}

.text-nav-500 {
    color: #8591d5;
}

.bg-nav {
    background-color: rgb(102, 102, 102);
    color: white;
}

.logo-font {
    font-size: 28px;
    /* color: #ffffff; */
    font-family: 'Pacifico', cursive;
}

.contact .label {
    font-size: 2.5rem;
    font-weight: 500;
    color: #6c6c6c;
}

.contact .content {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    color: #6c6c6c;
}

.cookies-policy pre {
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 13px;
    line-height: 1.625;
    word-break: break-all;
    word-wrap: break-word;
    color: #3d444d;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.cookies-policy .article {
    background: #ffffff;
    margin: 22px;
}

.cookies-policy .article .article-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 22px;
}

.article-title, .article-header h1 {
    margin: 0 0 22px 0;
}

button.convert {
    color: #ffffff;
    background-color: rgb(102, 102, 102);
}

button.convert:hover {
    background-color: rgb(116, 116, 116);
}

.currency-flag a {
    color: #3f51b5;
}

.currency-flag a:hover {
    color: #2b387c;
}